body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.simContainer{
    height: calc(100% - 59px);
    width: 100vw;
}

.ctrlContainer{
    height: 59px;
    display: flex;
    margin-top: auto;
    background-color: darkslategrey;
    border-width: 2px 0px 0px 0px;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    align-items: center;
    justify-content: center;
}

.ctrlContainer > input{
    height: 38px;
    border: 0px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 200;
    color: white;
    background-color: olivedrab;
    outline: none;
    cursor: pointer;
    padding: 2px 16px;
    margin: 0px 20px 0px 20px;
}

.ctrlContainer > input:hover, .ctrlContainer > input:focus{
    background-color: firebrick;
}

canvas{
    margin:0;
    box-sizing: border-box;
    cursor: crosshair;
}

.jsinput{
    position: absolute;
    z-index: 2;
    display: none;
}

.panel{
    position: absolute;
    z-index: 1;
    display: none;
    top: 40px;
    left: 0px;
    background-color: #CCCCCC;
    width: fit-content;
    padding: 10px 26px 13px 20px;
    font-size: 14px;
    flex-direction: column;
    justify-content: space-evenly;
}
.panel > p{
    display: flex;
    justify-content: space-between;    
}

.panel > p > span{
    padding-right: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.panel > p > input{
    width: 100px;
    
}